.g-body-title Create a new dataflow

.g-creation-instruction.
  A dataflow is a basic way of sharing data with other users of the yt Hub. At the bare minimum it consists of a folder with
  data and a frontend to interact with it. Additionally you can add any number of scripts (e.g. jupyter notebooks, text
  files etc.). Any time the user starts the dataflow, each script will be downloaded and put in their home directory.

form#g-item-edit-form.modal-form(role="form")
  .form-group
    label.control-label(for="g-name") Name
    input#g-name.input-sm.form-control(type="text", placeholder="Enter dataflow name")
  .form-group
    label.control-label Description (optional)
    .g-description-editor-container
  .form-group
    label.control-label Dataflow Type
    .radio
      label
        input#g-dataflow-type-openmsi(type="radio", name="g-dataflow-type", value="openmsi", checked="checked")
        | OpenMSI
    .radio
      label
        input#g-dataflow-type-dagster(type="radio", name="g-dataflow-type", value="dagster")
        | Dagster
  #g-data-group.form-group
    label.control-label Destination Folder
    .input-group.input-group-sm
      input#g-folder-data-id.form-control.input-sm(
        type="text",
        placeholder="Existing folder ID to use as the data destination")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  #g-source-group.form-group
    label.control-label Source Folder
    .input-group.input-group-sm
      input#g-folder-source-id.form-control.input-sm(
        type="text",
        placeholder="Existing folder ID to use as the data source")
      .input-group-btn
        button.g-open-browser-src.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label.control-label Topic Name
    input#g-topic-name.input-sm.form-control(type="text", placeholder="Enter topic name")
  .form-group
    label.control-label Dataflow Image
    .btn-group
      button.g-dataflow-frontend-select.btn.btn-sm.btn-default.dropdown-toggle(
        data-toggle="dropdown", title="Sort by Field")
        | Choose Image
        i.icon-down-dir
      ul.dropdown-menu.pull-right(role="menu")
        each frontend in ["xarthisius/openmsistream:demo", "xarthisius/dagster_example:demo", "xarthisius/dagster_example:latest"]
          li(role="presentation")
            a.g-frontend(role="menuitem", frontend-cid=frontend)
              = frontend
  .g-validation-failed-message
  a.g-cancel-dataflow.btn.btn-small.btn-default Cancel
  button.g-save-item.btn.btn-small.btn-primary(type="submit")
    if (item)
      i.icon-edit
      | Save
    else
      i.icon-plus-squared
      | Create
